{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">ft_transcendence</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Authorized/home.css' %}">
    <!-- Google Fonts for Retro Style -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div id="loading-screen">Loading...</div>
    <div class="container" style="display: none;">
        <div class="retro-container">
            <h1 class="game-title">ft_transcendence</h1>
            <div class="game-console">
                <h2 class="menu-title">Game Menu</h2>
                <div class="button-container">
                    <button id="tournament-btn" class="retro-btn" onclick="handleClick('Tournament Battle')">トーナメント対戦</button>
                    <button id="random-match-btn" class="retro-btn" onclick="handleClick('Random Match')">ランダムマッチ</button>
                    <button id="friend-battle-btn" class="retro-btn" onclick="handleClick('Friend Battle')">友人対戦</button>
                    <button id="settings-btn" class="retro-btn" onclick="handleClick('Settings')">設定</button>
                    <button id="friend-list-btn" class="retro-btn" onclick="handleClick('Friend List')">友人一覧</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="{% static 'js/Authorized/home.js' %}"></script>
</body>
</html>
