{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>ft_transcendence - Pong Game</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Authorized/randommatch.css' %}">
    <!-- Google Fonts for Retro Style -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="retro-container" id="matchmakingContainer">
        <h1 class="game-title">ft_transcendence</h1>
        <div class="game-console">
            <div id="status" class="retro-status">戦うんだbro</div>
            <button id="matchButton" class="retro-btn">対戦</button>
        </div>
    </div>

    <div class="retro-container hidden" id="gameContainer">
        <div id="countdown" class="retro-countdown">3</div>
        <div id="message" class="hidden retro-message"></div>
        <div id="score-container">
            <div id="score-player1" class="score-box">
                <span class="player-label" id="player1-label">Player 1</span>
                <span class="player-score">0</span>
            </div>
            <div id="score-player2" class="score-box">
                <span class="player-label" id="player2-label">Player 2</span>
                <span class="player-score">0</span>
            </div>
        </div>
        <canvas id="gameCanvas"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script type="module" src="{% static 'js/utils/translations.js' %}"></script>
    <script type="module" src="{% static 'js/Authorized/randommatch.js' %}"></script>
</body>
</html>