<!-- {% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トーナメント参加</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">トーナメントに参加</h1>
        <form>
            <div class="form-group">
                <label for="tournamentSize">トーナメントサイズを選択してください:</label>
                <select class="form-control" id="tournamentSize">
                    <option value="4">4人</option>
                    <option value="8">8人</option>
                    <option value="16">16人</option>
                </select>
                <label for="userAlias">ユーザーエイリアスを入力してください:</label>
                <input type="text" class="form-control mb-3" id="userAlias" placeholder="no name">
            </div>
            <button type="submit" class="btn btn-primary btn-block">トーナメントに参加</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module" src="{% static 'js/Authorized/tournament.js' %}"></script>
</body>
</html> -->

{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トーナメント参加</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Authorized/tournament.css' %}">
</head>
<body>
    <div class="background" id="backcolor">
        <div class="container" id="formContainer">
            <h1 class="text-center" id=>トーナメントに参加</h1>
            <form id="tournamentForm">
                <div class="form-group">
                    <label for="tournamentSize">トーナメントサイズを選択してください:</label>
                    <select class="form-control" id="tournamentSize">
                        <option value="4">4人</option>
                        <option value="8">8人</option>
                    </select>
                    <label for="userAlias">ユーザーエイリアスを入力してください:</label>
                    <input type="text" class="form-control mb-3" id="userAlias" placeholder="no name">
                </div>
                <button type="submit" class="btn btn-primary btn-block">トーナメントに参加</button>
            </form>
        </div>

        <div  id="tournamentTableFour" style="display: none;">
            <div id="tournamentContainer">
                <div id="userLeft4">
                    <div id="userinfoLeft4-1" class="userinfo">
                        <div id="usernameLeft4-1", class="username"></div>
                        <div id="userimageLeft4-1", class="userimage"></div>
                    </div>
                    <div id="userinfoLeft4-2" class="userinfo">
                        <div id="usernameLeft4-2", class="username"></div>
                        <div id="userimageLeft4-2", class="userimage"></div>
                    </div>
                </div>
                <div id="firstLeft4">
                    <div id="barContainerUnder">
                        <div id="barfirstLeft1", class="bar"></div>
                    </div>
                    <div id ="verticalBarContainer">
                        <div id="vbarfirstLeft1" class="vbar"></div>
                        <div id="vbarfirstLeft2" class="vbar"></div>
                    </div>
                    <div id="barContainerOver">
                        <div id="barfirstLeft2", class="bar"></div>
                    </div>
                </div>
                <div id="lastLeft4"></div>
                <div id="Trophy4"></div>
                <div id="lastRight4"></div>
                <div id="firstRight4"></div>
                <div id="userRight4">
					<div id="userinfoRight4-1" class="userinfo">
                        <div id="userimageRight4-1", class="userimage"></div>
                        <div id="usernameRight4-1", class="username"></div>
                    </div>
                    <div id="userinfoRight4-2" class="userinfo">
                        <div id="userimageRight4-2", class="userimage"></div>
                        <div id="usernameRight4-2", class="username"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5" id="tournamentTableEight" style="display: none;">
            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module" src="{% static 'js/Authorized/tournament.js' %}"></script>
</body>
</html>
